.btn-rand{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

button{
  width: 160px;
  height: 40px;
  background-color: purple;
  color: white;
  border-radius: 20px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
