/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,400;0,600;1,100;1,400;1,500&display=swap');


html,body{
    margin: 0;
    padding: 0;
}
app-main{
    display: flex;

   flex-wrap: wrap;
   justify-content: center;

}



app-student-card{


    display: flex;
    flex-direction: column;
  margin: 50px;
    justify-content: center;


}

app-footer{
    margin: 0;

}
